<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"></head>

<body>
<div th:replace="common/header :: navbar"></div>
<div class="container">
    <div class="row">
        <div th:if="${wrongInput}" class="alert alert-danger">
            Oooops, some fields have incorrect input.
            Remember: watering, price and count in storage should have positive amount
        </div>
        <form class="form-horizontal" th:action="@{/addItem}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend class="center-block">Add New Flower</legend>
                <!--Name of Item-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="name">Name of new Item</label>
                    <div class="col-md-8">
                        <input required type="text" class="form-control" id="name"
                               name="name" th:value="${flower.name}"
                               placeholder="Name"/>
                        <span class="help-block">Name</span>
                    </div>
                </div>
                <!--Description-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="description">Description</label>
                    <div class="col-md-8">
                    <textarea required rows="5" class="form-control" id="description"
                              name="description" th:value="${flower.description}"
                              placeholder="Description"></textarea>
                        <span class="help-block">Description for the item</span>
                    </div>
                </div>
                <!--Category-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="category">Category</label>
                    <div class="col-md-8">
                        <select required th:field="*{flower.flowerType}" id="category" name="category"
                                class="form-control">
                            <option value="" selected="selected" disabled="disabled">Please select a category</option>
                            <option th:each="flowerType : ${flowerTypeList}" th:value="${flowerType.id}" th:text="${flowerType.description}">
                            </option>
                        </select>
                    </div>
                </div>
                <!--Soil-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="soil">Soil</label>
                    <div class="col-md-8">
                        <select required th:value="${flower.soil}" id="soil" name="soil"
                                class="form-control">
                            <option value="" selected="selected" disabled="disabled">Please select soil for Item</option>
                            <option value="PODZOLIC"
                                    th:selected="(${flower.soil}=='PODZOLIC')">Подзолистая
                            </option>
                            <option value="SODPODZOLIC" th:selected="(${flower.soil}=='SODPODZOLIC')">Дерново-подзолистая
                            </option>
                            <option value="UNPAVED"
                                    th:selected="(${flower.soil}=='UNPAVED')">Грунтовая
                            </option>
                        </select>
                    </div>
                </div>
                <!--Watering-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="watering">Ml per week</label>
                    <div class="col-md-8">
                        <input th:value="${flower.watering}" type="number" min="0"
                               class="form-control" id="watering" name="watering"
                               placeholder="How much Ml per week need flower"/>
                        <span class="help-block">How much Ml per week need flower</span>
                    </div>
                </div>
                <!--Country-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="country">Origin country of Item</label>
                    <div class="col-md-8">
                        <input required type="text" class="form-control" id="country"
                               name="originCountry" th:value="${flower.originCountry}"
                               placeholder="Country"/>
                        <span class="help-block">Origin country of Item</span>
                    </div>
                </div>
                <!--Light-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="light">Light</label>
                    <div class="col-md-8">
                        <select th:value="${flower.light}" id="light" name="light"
                                class="form-control">
                            <option value="" selected="selected" disabled="disabled">Please select lighting for Item</option>
                            <option value="1"
                                    th:selected="(${flower.light}==true)">light-loving plant
                            </option>
                            <option value="0" th:selected="(${flower.light}==false)">dark-loving plant
                            </option>
                        </select>
                    </div>
                </div>
                <!--Price-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="price">Price of Item</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">Br</span>
                            <input th:value="${flower.price}" type="number" step="0.1" min="1"
                                   class="form-control" id="price" name="price"
                                   placeholder="Price"/>
                        </div>
                        <span class="help-block">Price of the item</span>
                    </div>
                </div>
                <!--In storage-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="count">Number in storage</label>
                    <div class="col-md-8">
                        <input th:value="${storage.count}" type="number" min="1"
                               class="form-control" id="count" name="count"
                               placeholder="Number of item in storage"/>
                        <span class="help-block">Number of item in storage</span>
                    </div>
                </div>
                <!--Upload image-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="image">Upload Flower Image</label>
                    <div class="col-md-8">
                        <input id="image" type="file" name="image"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">Add Item</button>
                        <a class="btn btn-danger" th:href="@{/}">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>