<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"></head>

<body>
<div th:replace="common/header :: navbar"></div>
<div class="table-responsive">
    <form th:action="@{/changeStatus}">
        <input type="hidden" id="id" name="id" th:value="${order.id}"/>
        <div class="container">
            <h3><strong data-th-utext="#{admin.order.sum}"></strong></h3>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <td><strong data-th-utext="#{admin.item.name}"></strong></td>
                        <td><strong>Status</strong></td>
                        <!--<td><strong>Comment</strong></td>-->
                        <td class="text-center"><strong data-th-utext="#{admin.flower.price}"></strong></td>
                        <td class="text-center"><strong data-th-utext="#{admin.item.quantity}"></strong></td>
                        <td class="text-right"><strong data-th-utext="#{admin.order.subtotal}"></strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orderFlower : ${orderFlowerList}">
                        <td><span data-th-text="${orderFlower.flower.name}"></span></td>
                        <td>
                            <label class="col-md-2 control-label" for="statusOrder" data-th-utext="#{common.status}"></label>
                            <select required th:value="${order.statusOrder}" id="statusOrder" name="statusOrder"
                                    class="form-control">
                                <option value="" selected="selected" disabled="disabled" th:text="#{admin.order.status}">
                                </option>
                                <option value="APPROVED"
                                        th:selected="(${order.statusOrder}=='APPROVED')" data-th-utext="#{admin.order.approved}">
                                </option>
                                <option value="INPROCESS" th:selected="(${order.statusOrder}=='INPROCESS')" data-th-utext="#{admin.order.inprocess}">
                                </option>
                                <option value="REJECTED"
                                        th:selected="(${order.statusOrder}=='REJECTED')" data-th-utext="#{admin.order.rejected}">
                                </option>
                            </select>
                        </td>
                        <td class="text-center" data-th-text="${orderFlower.flower.price}"></td>
                        <td class="text-center" data-th-text="${orderFlower.count}"></td>
                        <td class="text-right" data-th-text="${orderFlower.subTotal}"></td>
                    </tr>
                    <tr>
                        <td class="highrow"></td>
                        <td class="highrow"></td>
                        <td class="highrow"></td>
                        <td class="highrow text-center"><strong data-th-utext="#{admin.order.total}"></strong></td>
                        <td class="highrow text-right" data-th-text="${order.totalCost}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <button class="btn btn-success" type="submit" data-th-utext="#{main.save}"></button>
        </div>
    </form>
</div>
</body>
</html>