<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"></head>

<body>
<div th:replace="common/header :: navbar"></div>
<div class="container">
    <div>
        <ol class="breadcrumb">
            <li><a th:href="@{/flowerList}"><i class="fa fa-long-arrow-alt-left" aria-hidden="true" th:utext="#{common.back}"></i></a></li>
            <li><a th:href="@{/updateItem?id=}+${flower.id}" th:utext="#{common.edit}"></a></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive center-block" th:attr="src=@{'/image/flower/' + ${flower.flowerImage}}" />
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <h3 th:text="${flower.name}"></h3>
            <div class="row">
                <div class="col-xs-6">
                    <p><strong th:utext="#{main.category} + ' '"></strong><span th:text="${flower.flowerType.description}"></span></p>
                    <p><strong th:utext="#{main.soil} + ' '"></strong><span th:text="${flower.soil.value}"></span></p>
                    <p><strong th:utext="#{admin.flower.watering} + ' '"></strong><span th:text="${flower.watering} + ' ' + #{admin.flower.water}"></span></p>
                </div>
                <div class="col-xs-6">
                    <p><strong th:utext="#{admin.country.name} + ' '"></strong><span th:text="${flower.originCountry}"></span></p>
                    <p><strong th:utext="#{admin.light.name} + ' '"></strong><span th:text="${flower.light} ? #{admin.light.love} : #{admin.dark.love}"></span></p>
                    <p><strong th:utext="#{admin.price.name} + ' '"></strong><span th:text="${flower.price}"></span></p>
                    <p><strong th:utext="#{admin.storage.name} + ' '"></strong><span th:text="${flower.storage.count}"></span></p>
                </div>
            </div>
            <p><strong th:utext="#{main.description} + ' '"></strong><span th:text="${flower.description}"></span></p>
        </div>
    </div>
</div>
</body>
</html>