<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header"></head>

<body>
<div th:replace="common/header :: navbar"></div>
<div class="container">
    <div class="row">
        <form class="form-horizontal" th:action="@{/updateItem}" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend class="center-block" th:utext="#{admin.update.item}"></legend>

                <input hidden="hidden" name="id" th:value="${flower.id}" />

                <!--Name of Item-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="name" th:utext="#{admin.flower.name}"></label>
                    <div class="col-md-8">
                        <input required type="text" class="form-control" id="name"
                               name="name" th:value="${flower.name}"
                               th:placeholder="#{main.name}"/>
                        <span class="help-block" th:utext="#{main.name}"></span>
                    </div>
                </div>
                <!--Description-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="description" th:utext="#{main.description}"></label>
                    <div class="col-md-8">
                    <textarea required rows="5" class="form-control" id="description"
                              name="description" th:value="${flower.description}"
                              th:text="${flower.description}"
                              th:placeholder="#{main.description}"></textarea>
                        <span class="help-block" th:utext="#{admin.description.item}"></span>
                    </div>
                </div>
                <!--Category-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="category" th:utext="#{main.category}"></label>
                    <div class="col-md-8">
                        <select th:field="*{flower.flowerType}" id="category" name="category"
                                class="form-control">
                            <option value="" selected="selected" disabled="disabled" th:utext="#{main.category.enter}"></option>
                            <option th:each="flowerType : ${flowerTypeList}" th:value="${flowerType.id}" th:text="${flowerType.description}">
                            </option>
                        </select>
                    </div>
                </div>
                <!--Soil-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="soil" th:utext="#{main.soil}"></label>
                    <div class="col-md-8">
                        <select th:value="${flower.soil.value}" id="soil" name="soil"
                                class="form-control">
                            <option value="" selected="selected" disabled="disabled" th:utext="#{main.soil.enter}"></option>
                            <option value="PODZOLIC"
                                    th:selected="(${flower.soil.value}=='Подзолистая')" th:utext="#{admin.soil.podzolic}">
                            </option>
                            <option value="SODPODZOLIC" th:selected="(${flower.soil.value}=='Дерново-подзолистая')" th:utext="#{admin.soil.sodpodzolic}">
                            </option>
                            <option value="UNPAVED"
                                    th:selected="(${flower.soil.value}=='Грунтовая')" th:utext="#{admin.soil.unpaved}">
                            </option>
                        </select>
                    </div>
                </div>
                <!--Watering-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="watering" th:utext="#{admin.flower.watering}"></label>
                    <div class="col-md-8">
                        <input th:value="${flower.watering}" type="number"
                               class="form-control" id="watering" name="watering"
                               th:placeholder="#{admin.flower.amount}"/>
                        <span class="help-block" th:utext="#{admin.flower.amount}"></span>
                    </div>
                </div>
                <!--Country-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="country" th:utext="#{admin.flower.country}"></label>
                    <div class="col-md-8">
                        <input required type="text" class="form-control" id="country"
                               name="originCountry" th:value="${flower.originCountry}"
                               th:placeholder="#{admin.country.name}"/>
                        <span class="help-block" th:utext="#{admin.flower.country}"></span>
                    </div>
                </div>
                <!--Light-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="light" th:utext="#{admin.light.name}"></label>
                    <div class="col-md-8">
                        <select th:value="${flower.light}" id="light" name="light"
                                class="form-control">
                            <option value="" selected="selected" disabled="disabled" th:utext="#{admin.light.select}"></option>
                            <option value="true"
                                    th:selected="(${flower.light}==true)" th:utext="#{admin.light.love}">
                            </option>
                            <option value="false" th:selected="(${flower.light}==false)" th:utext="#{admin.dark.love}">
                            </option>
                        </select>
                    </div>
                </div>
                <!--Price-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="price" th:utext="#{admin.flower.price}"></label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">Br</span>
                            <input th:value="${flower.price}" type="number" step="0.1"
                                   class="form-control" id="price" name="price"
                                   th:placeholder="#{admin.price.name}"/>
                        </div>
                        <span class="help-block" th:utext="#{admin.flower.price}"></span>
                    </div>
                </div>
                <!--In storage-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="count" th:utext="#{admin.storage.name}"></label>
                    <div class="col-md-8">
                        <input th:value="${flower.storage.count}" type="number"
                               class="form-control" id="count" name="count"
                               th:placeholder="#{admin.storage.flower}"/>
                        <span class="help-block" th:utext="#{admin.storage.flower}"></span>
                    </div>
                </div>
                <!--Upload image-->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="image" th:utext="#{admin.flower.image}"></label>
                    <div class="col-md-8">
                        <input id="image" type="file" name="image"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success" th:utext="#{admin.update.item}"></button>
                        <a class="btn btn-danger" th:href="@{/itemInfo(id=${flower.id})}" th:utext="#{main.cancel}"></a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div th:replace="common/footer :: footer"></div>
</body>
</html>