<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:fragment="common-header">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="#{main.title}"></title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{css/bootstrap.css}" rel="stylesheet"/>

    <!-- Custom styles -->
    <link th:href="@{css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/fontawesome/fontawesome.css}" rel="stylesheet"/>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
</head>

<body>
<div th:fragment="navbar">
    <div class="page-top" style="width: 100%; height: 20px; background-color: #1b6d85;"></div>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid"
             th:with="currentUrl=(${@currentUrlWithoutParam.apply('lang')})">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" th:utext="#{main.title}"></a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false" data-th-utext="#{main.catalog}"><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/itemPage}" data-th-utext="#{main.flower.list}"></a></li>
                            <li><a th:href="@{/direction}" data-th-utext="#{main.store.hour}"></a></li>
                            <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addItem}" data-th-utext="#{main.add.item}"></a></li>
                            <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/flowerList}" data-th-utext="#{main.admin.flowerlist}"></a></li>
                            <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/createAdmin}" data-th-utext="#{main.admin.create}"></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <form th:action="@{/findItem}" method="get" class="navbar-form">
                        <div class="form-group">
                            <input type="text" id="keyword" name="keyword" class="form-control"
                                   th:placeholder="#{main.flower.title}"/>
                        </div>
                        <button type="submit" class="btn btn-default" data-th-utext="#{main.search}"></button>
                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><img class="image-header" src="image/lang.png" /><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{${currentUrl}(lang=ru)}"><img class="image-header-dropdown" src="image/russia.png" /></a></li>
                            <li><a th:href="@{${currentUrl}(lang=en)}"><img class="image-header-dropdown" src="image/en.png" /></a></li>
                        </ul>
                    </li>
                    <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/orderInfo}" data-th-utext="#{main.admin.order}"></a></li>
                    <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{/basket}" data-th-utext="#{main.basket.title}"></a></li>
                    <li><a sec:authorize="isAnonymous()" th:href="@{/login}" data-th-utext="#{main.account.title}"></a></li>
                    <li><a sec:authorize="hasRole('ROLE_USER')" th:href="@{/myProfile}" data-th-utext="#{main.account.title}"></a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}" data-th-utext="#{main.logout}"></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>